In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from keras.models import Sequential
from keras.layers import Dense, LeakyReLU, ReLU, ELU
from keras.optimizers import Adam

Using TensorFlow backend.

In [3]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = dataset.iloc[:, 3: 13]
y = dataset.iloc[:, -1]

In [5]:
print(y.head())
X.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelEncoderX1 = LabelEncoder()
X.iloc[:, 1] = labelEncoderX1.fit_transform(X.iloc[:, 1])
labelEncoderX2 = LabelEncoder()
X.iloc[:, 2] = labelEncoderX2.fit_transform(X.iloc[:, 2])

In [7]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [8]:
oneHotEncoder = OneHotEncoder(categorical_features = [1])
X = oneHotEncoder.fit_transform(X).toarray()

C:\Users\RAHUL\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\RAHUL\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:385: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [9]:
X =  X[:, 1:]

In [10]:
model = Sequential()

In [11]:
model.add(Dense(units=6, kernel_initializer='uniform', input_dim = 11))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())

In [12]:
model.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [13]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [16]:
print('X_train: ', X_train)
print()
print()
print('X_test: ', X_test)

X_train:  [[-0.5698444   1.74309049  0.16958176 ...  0.64259497 -1.03227043
   1.10643166]
 [ 1.75486502 -0.57369368 -2.30455945 ...  0.64259497  0.9687384
  -0.74866447]
 [-0.5698444  -0.57369368 -1.19119591 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [-0.5698444  -0.57369368  0.9015152  ...  0.64259497 -1.03227043
   1.41231994]
 [-0.5698444   1.74309049 -0.62420521 ...  0.64259497  0.9687384
   0.84432121]
 [ 1.75486502 -0.57369368 -0.28401079 ...  0.64259497 -1.03227043
   0.32472465]]


X_test:  [[ 1.62776996 -0.57427105 -0.56129438 ...  0.66011376  0.97628121
   1.62185911]
 [-0.61433742 -0.57427105 -1.33847768 ...  0.66011376 -1.02429504
   0.504204  ]
 [-0.61433742  1.74133801  0.58347561 ...  0.66011376  0.97628121
  -0.41865644]
 ...
 [-0.61433742  1.74133801 -0.76084144 ...  0.66011376 -1.02429504
   0.72775202]
 [ 1.62776996 -0.57427105 -0.0046631  ...  0.66011376  0.97628121
  -1.54162886]
 [ 1.62776996 -0.57427105 -0.81335383 ...  0.66011376 -1.02429504
   1.62356528]]

In [17]:
model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.5484 - acc: 0.7955
Epoch 2/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4320 - acc: 0.8038
Epoch 3/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4291 - acc: 0.8056
Epoch 4/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4286 - acc: 0.8056
Epoch 5/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4274 - acc: 0.8054
Epoch 6/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4265 - acc: 0.8085
Epoch 7/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4233 - acc: 0.8141
Epoch 8/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4196 - acc: 0.8205
Epoch 9/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4160 - acc: 0.8243
Epoch 10/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4124 - acc: 0.8284
Epoch 11/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4102 - acc: 0.8315
Epoch 12/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4090 - acc: 0.8321
Epoch 13/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4080 - acc: 0.8335
Epoch 14/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4070 - acc: 0.8331
Epoch 15/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4064 - acc: 0.8339
Epoch 16/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.4060 - acc: 0.8337
Epoch 17/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.4056 - acc: 0.8346
Epoch 18/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4050 - acc: 0.8365
Epoch 19/100
8000/8000 [==============================] - 0s 52us/step - loss: 0.4046 - acc: 0.8348
Epoch 20/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4039 - acc: 0.8364
Epoch 21/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.4043 - acc: 0.8357
Epoch 22/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4035 - acc: 0.8373
Epoch 23/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4032 - acc: 0.8357
Epoch 24/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4029 - acc: 0.8373
Epoch 25/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4035 - acc: 0.8364
Epoch 26/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4029 - acc: 0.8359
Epoch 27/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4023 - acc: 0.8361
Epoch 28/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4024 - acc: 0.8381
Epoch 29/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4020 - acc: 0.8373
Epoch 30/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.4020 - acc: 0.8357
Epoch 31/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4017 - acc: 0.8365
Epoch 32/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4016 - acc: 0.8377
Epoch 33/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4013 - acc: 0.8373
Epoch 34/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4008 - acc: 0.8377
Epoch 35/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4008 - acc: 0.8371: 0s - loss: 0.4044 - acc: 0.
Epoch 36/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4010 - acc: 0.8369
Epoch 37/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4009 - acc: 0.8377
Epoch 38/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4007 - acc: 0.8369
Epoch 39/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4007 - acc: 0.8369
Epoch 40/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3999 - acc: 0.8376
Epoch 41/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4001 - acc: 0.8370
Epoch 42/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4003 - acc: 0.8361
Epoch 43/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3998 - acc: 0.8367
Epoch 44/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3997 - acc: 0.8374
Epoch 45/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.3998 - acc: 0.8370
Epoch 46/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.3993 - acc: 0.8374
Epoch 47/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3990 - acc: 0.8361
Epoch 48/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3989 - acc: 0.8366
Epoch 49/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.3991 - acc: 0.8356
Epoch 50/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3989 - acc: 0.8381
Epoch 51/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3990 - acc: 0.8373
Epoch 52/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3989 - acc: 0.8373
Epoch 53/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3980 - acc: 0.8364
Epoch 54/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3983 - acc: 0.8377
Epoch 55/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3983 - acc: 0.8381
Epoch 56/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3983 - acc: 0.8373
Epoch 57/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3981 - acc: 0.8381
Epoch 58/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3983 - acc: 0.8367
Epoch 59/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3980 - acc: 0.8387
Epoch 60/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3977 - acc: 0.8374
Epoch 61/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3982 - acc: 0.8365
Epoch 62/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3978 - acc: 0.8373
Epoch 63/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3978 - acc: 0.8385
Epoch 64/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3972 - acc: 0.8379
Epoch 65/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3975 - acc: 0.8370
Epoch 66/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3972 - acc: 0.8376
Epoch 67/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3973 - acc: 0.8380
Epoch 68/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3971 - acc: 0.8386
Epoch 69/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.3968 - acc: 0.8389
Epoch 70/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3969 - acc: 0.8384
Epoch 71/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3969 - acc: 0.8380
Epoch 72/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3964 - acc: 0.8390
Epoch 73/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.3963 - acc: 0.8404
Epoch 74/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3958 - acc: 0.8404
Epoch 75/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3957 - acc: 0.8389
Epoch 76/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3963 - acc: 0.8394
Epoch 77/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.3948 - acc: 0.8394
Epoch 78/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3941 - acc: 0.8390
Epoch 79/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.3941 - acc: 0.8399
Epoch 80/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.3929 - acc: 0.8396
Epoch 81/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3923 - acc: 0.8419
Epoch 82/100

8000/8000 [==============================] - 0s 32us/step - loss: 0.3923 - acc: 0.8401
Epoch 83/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3899 - acc: 0.8395
Epoch 84/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3890 - acc: 0.8402
Epoch 85/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3875 - acc: 0.8402
Epoch 86/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3866 - acc: 0.8416
Epoch 87/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3845 - acc: 0.8409
Epoch 88/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3834 - acc: 0.8404
Epoch 89/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3814 - acc: 0.8417
Epoch 90/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3807 - acc: 0.8400
Epoch 91/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.3787 - acc: 0.8414
Epoch 92/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3773 - acc: 0.8420
Epoch 93/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3766 - acc: 0.8430
Epoch 94/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3756 - acc: 0.8420
Epoch 95/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3737 - acc: 0.8462
Epoch 96/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3722 - acc: 0.8411
Epoch 97/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3702 - acc: 0.8446
Epoch 98/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3698 - acc: 0.8427
Epoch 99/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3678 - acc: 0.8462
Epoch 100/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3650 - acc: 0.8481

In [18]:
y_pred = model.predict(X_test)
y_pred = y_pred > 0.5

In [19]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [21]:
cm

array([[1540,   55],
       [ 248,  157]], dtype=int64)

294

In [22]:
253 + 66 # with ReLu activation

319

In [23]:
192 + 91 # with LeakyReLu for 1st activation

283

In [24]:
228 + 66 # with LeakyReLu for 2nd activation

294