In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from keras.models import Sequential
from keras.layers import Dense, LeakyReLU, ReLU, ELU
from keras.optimizers import Adam

Using TensorFlow backend.

In [3]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = dataset.iloc[:, 3: 13]
y = dataset.iloc[:, -1]

In [5]:
print(y.head())
X.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelEncoderX1 = LabelEncoder()
X.iloc[:, 1] = labelEncoderX1.fit_transform(X.iloc[:, 1])
labelEncoderX2 = LabelEncoder()
X.iloc[:, 2] = labelEncoderX2.fit_transform(X.iloc[:, 2])

In [7]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [8]:
oneHotEncoder = OneHotEncoder(categorical_features = [1])
X = oneHotEncoder.fit_transform(X).toarray()

/home/rahul/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/rahul/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [9]:
X =  X[:, 1:]

In [10]:
# Define the model
model = Sequential()

# Input Layer
model.add(Dense(units=6, kernel_initializer='uniform', input_dim = 11))
model.add(LeakyReLU())

# Hidden Layer
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())

# Output Layer
model.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

WARNING:tensorflow:From /home/rahul/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [11]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [12]:
# SDplitting into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
# Standard Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [14]:
print('X_train: ', X_train)
print()
print()
print('X_test: ', X_test)

X_train:  [[-0.5698444   1.74309049  0.16958176 ...  0.64259497 -1.03227043
   1.10643166]
 [ 1.75486502 -0.57369368 -2.30455945 ...  0.64259497  0.9687384
  -0.74866447]
 [-0.5698444  -0.57369368 -1.19119591 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [-0.5698444  -0.57369368  0.9015152  ...  0.64259497 -1.03227043
   1.41231994]
 [-0.5698444   1.74309049 -0.62420521 ...  0.64259497  0.9687384
   0.84432121]
 [ 1.75486502 -0.57369368 -0.28401079 ...  0.64259497 -1.03227043
   0.32472465]]


X_test:  [[ 1.62776996 -0.57427105 -0.56129438 ...  0.66011376  0.97628121
   1.62185911]
 [-0.61433742 -0.57427105 -1.33847768 ...  0.66011376 -1.02429504
   0.504204  ]
 [-0.61433742  1.74133801  0.58347561 ...  0.66011376  0.97628121
  -0.41865644]
 ...
 [-0.61433742  1.74133801 -0.76084144 ...  0.66011376 -1.02429504
   0.72775202]
 [ 1.62776996 -0.57427105 -0.0046631  ...  0.66011376  0.97628121
  -1.54162886]
 [ 1.62776996 -0.57427105 -0.81335383 ...  0.66011376 -1.02429504
   1.62356528]]

In [15]:
# Train the model
model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.5716 - acc: 0.7944
Epoch 2/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4295 - acc: 0.8110
Epoch 3/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4238 - acc: 0.8168
Epoch 4/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4200 - acc: 0.8185
Epoch 5/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4168 - acc: 0.8255
Epoch 6/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4139 - acc: 0.8286
Epoch 7/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4122 - acc: 0.8315
Epoch 8/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4102 - acc: 0.8322
Epoch 9/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4097 - acc: 0.8324
Epoch 10/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4087 - acc: 0.8337
Epoch 11/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4084 - acc: 0.8345
Epoch 12/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4080 - acc: 0.8339
Epoch 13/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4078 - acc: 0.8342
Epoch 14/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.4072 - acc: 0.8329
Epoch 15/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.4065 - acc: 0.8359
Epoch 16/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.4067 - acc: 0.8357
Epoch 17/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.4064 - acc: 0.8359
Epoch 18/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4063 - acc: 0.8356
Epoch 19/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.4064 - acc: 0.8351
Epoch 20/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.4064 - acc: 0.8342
Epoch 21/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4058 - acc: 0.8351
Epoch 22/100
8000/8000 [==============================] - 0s 45us/step - loss: 0.4058 - acc: 0.8351
Epoch 23/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.4051 - acc: 0.8361
Epoch 24/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.4053 - acc: 0.8355
Epoch 25/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.4051 - acc: 0.8364
Epoch 26/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.4050 - acc: 0.8354
Epoch 27/100
8000/8000 [==============================] - 0s 45us/step - loss: 0.4048 - acc: 0.8360
Epoch 28/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.4045 - acc: 0.8344
Epoch 29/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.4049 - acc: 0.8360
Epoch 30/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4049 - acc: 0.8346
Epoch 31/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.4044 - acc: 0.8353
Epoch 32/100
8000/8000 [==============================] - 0s 53us/step - loss: 0.4035 - acc: 0.8364
Epoch 33/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.4041 - acc: 0.8346
Epoch 34/100
8000/8000 [==============================] - 0s 32us/step - loss: 0.4044 - acc: 0.8341
Epoch 35/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4041 - acc: 0.8348
Epoch 36/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4043 - acc: 0.8346
Epoch 37/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.4036 - acc: 0.8344
Epoch 38/100
8000/8000 [==============================] - 0s 36us/step - loss: 0.4042 - acc: 0.8351
Epoch 39/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4037 - acc: 0.8363
Epoch 40/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.4037 - acc: 0.8353
Epoch 41/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4036 - acc: 0.8350
Epoch 42/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.4035 - acc: 0.8355
Epoch 43/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.4032 - acc: 0.8353
Epoch 44/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4034 - acc: 0.8345
Epoch 45/100
8000/8000 [==============================] - 0s 47us/step - loss: 0.4029 - acc: 0.8355
Epoch 46/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.4031 - acc: 0.8340
Epoch 47/100
8000/8000 [==============================] - 0s 36us/step - loss: 0.4032 - acc: 0.8355
Epoch 48/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.4026 - acc: 0.8359
Epoch 49/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.4028 - acc: 0.8356
Epoch 50/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4028 - acc: 0.8349
Epoch 51/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.4020 - acc: 0.8366
Epoch 52/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4021 - acc: 0.8356
Epoch 53/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4030 - acc: 0.8350
Epoch 54/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4025 - acc: 0.8354
Epoch 55/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4023 - acc: 0.8357
Epoch 56/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4020 - acc: 0.8353
Epoch 57/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4025 - acc: 0.8356
Epoch 58/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4021 - acc: 0.8361
Epoch 59/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4020 - acc: 0.8374
Epoch 60/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4024 - acc: 0.8355
Epoch 61/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4016 - acc: 0.8370
Epoch 62/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.4020 - acc: 0.8357
Epoch 63/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.4019 - acc: 0.8361
Epoch 64/100
8000/8000 [==============================] - 0s 47us/step - loss: 0.4022 - acc: 0.8353
Epoch 65/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.4018 - acc: 0.8356
Epoch 66/100
8000/8000 [==============================] - 0s 45us/step - loss: 0.4016 - acc: 0.8356
Epoch 67/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4015 - acc: 0.8349
Epoch 68/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.4015 - acc: 0.8353
Epoch 69/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4017 - acc: 0.8361
Epoch 70/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4015 - acc: 0.8355
Epoch 71/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4016 - acc: 0.8354
Epoch 72/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4011 - acc: 0.8364
Epoch 73/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4013 - acc: 0.8345
Epoch 74/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4012 - acc: 0.8357
Epoch 75/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4010 - acc: 0.8360
Epoch 76/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4011 - acc: 0.8349
Epoch 77/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4007 - acc: 0.8371
Epoch 78/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4008 - acc: 0.8361
Epoch 79/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4009 - acc: 0.8360
Epoch 80/100
8000/8000 [==============================] - 0s 34us/step - loss: 0.4007 - acc: 0.8357
Epoch 81/100
8000/8000 [==============================] - 0s 33us/step - loss: 0.4003 - acc: 0.8371
Epoch 82/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4007 - acc: 0.8356
Epoch 83/100

8000/8000 [==============================] - 0s 31us/step - loss: 0.4004 - acc: 0.8360
Epoch 84/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.4001 - acc: 0.8363
Epoch 85/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4003 - acc: 0.8363
Epoch 86/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3999 - acc: 0.8361
Epoch 87/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3998 - acc: 0.8373
Epoch 88/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3994 - acc: 0.8363
Epoch 89/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3991 - acc: 0.8373
Epoch 90/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3995 - acc: 0.8360
Epoch 91/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3988 - acc: 0.8370
Epoch 92/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3991 - acc: 0.8367
Epoch 93/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3984 - acc: 0.8386
Epoch 94/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.3986 - acc: 0.8375
Epoch 95/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3981 - acc: 0.8370
Epoch 96/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3981 - acc: 0.8394
Epoch 97/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3978 - acc: 0.8385
Epoch 98/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.3979 - acc: 0.8361
Epoch 99/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.3974 - acc: 0.8371
Epoch 100/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.3977 - acc: 0.8367

In [16]:
# Prfedicting on the test set
y_pred = model.predict(X_test)
y_pred = y_pred > 0.5

In [17]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [19]:
#  Confusion matrix 
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [20]:
cm

array([[1548,   47],
       [ 267,  138]])

In [22]:
253 + 66

319

In [23]:
192 + 91

283

In [24]:
228 + 66

294

In [25]:
248 + 55

303

In [21]:
267 + 47

314