In [143]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [144]:
from keras.models import Sequential
from keras.layers import Dense, LeakyReLU, ReLU, ELU
from keras.optimizers import Adam

In [145]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [146]:
X = dataset.iloc[:, 3: 13]
y = dataset.iloc[:, -1]

In [147]:
print(y.head())
X.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [148]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelEncoderX1 = LabelEncoder()
X.iloc[:, 1] = labelEncoderX1.fit_transform(X.iloc[:, 1])
labelEncoderX2 = LabelEncoder()
X.iloc[:, 2] = labelEncoderX2.fit_transform(X.iloc[:, 2])

In [149]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [150]:
oneHotEncoder = OneHotEncoder(categorical_features = [1])
X = oneHotEncoder.fit_transform(X).toarray()

C:\Users\RAHUL\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [151]:
X =  X[:, 1:]

In [152]:
model = Sequential()

In [153]:
model.add(Dense(units=6, kernel_initializer='uniform', input_dim = 11))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=6, kernel_initializer='uniform'))
model.add(LeakyReLU())

In [154]:
model.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [155]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [156]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [157]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [158]:
print('X_train: ', X_train)
print()
print()
print('X_test: ', X_test)

X_train:  [[-0.5698444   1.74309049  0.16958176 ...  0.64259497 -1.03227043
   1.10643166]
 [ 1.75486502 -0.57369368 -2.30455945 ...  0.64259497  0.9687384
  -0.74866447]
 [-0.5698444  -0.57369368 -1.19119591 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [-0.5698444  -0.57369368  0.9015152  ...  0.64259497 -1.03227043
   1.41231994]
 [-0.5698444   1.74309049 -0.62420521 ...  0.64259497  0.9687384
   0.84432121]
 [ 1.75486502 -0.57369368 -0.28401079 ...  0.64259497 -1.03227043
   0.32472465]]


X_test:  [[ 1.62776996 -0.57427105 -0.56129438 ...  0.66011376  0.97628121
   1.62185911]
 [-0.61433742 -0.57427105 -1.33847768 ...  0.66011376 -1.02429504
   0.504204  ]
 [-0.61433742  1.74133801  0.58347561 ...  0.66011376  0.97628121
  -0.41865644]
 ...
 [-0.61433742  1.74133801 -0.76084144 ...  0.66011376 -1.02429504
   0.72775202]
 [ 1.62776996 -0.57427105 -0.0046631  ...  0.66011376  0.97628121
  -1.54162886]
 [ 1.62776996 -0.57427105 -0.81335383 ...  0.66011376 -1.02429504
   1.62356528]]

In [ ]:
model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.5571 - acc: 0.7961
Epoch 2/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4285 - acc: 0.8103
Epoch 3/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.4236 - acc: 0.8151
Epoch 4/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4204 - acc: 0.8196
Epoch 5/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.4173 - acc: 0.8243
Epoch 6/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.4145 - acc: 0.8266
Epoch 7/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4122 - acc: 0.8288
Epoch 8/100
1152/8000 [===>..........................] - ETA: 0s - loss: 0.3942 - acc: 0.8438

In [ ]:
y_pred = model.predict(X_test)
y_pred = y_pred > 0.5

In [ ]:
y_pred

In [123]:
y_pred_t = y_pred == True
y_pred_f = y_pred == False

In [124]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [125]:
cm

array([[1595,    0],
       [ 405,    0]], dtype=int64)

In [95]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard
import time
name = 'Is-active-or-not-{}'.format(int(time.time()))
tensorboard = TensorBoard(log_dir='logs/{}'.format(name))

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

# Part 3 - Making predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

C:\Users\RAHUL\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

Epoch 1/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.4921 - acc: 0.7960
Epoch 2/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4310 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.4249 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4201 - acc: 0.8190
Epoch 5/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.4140 - acc: 0.8302
Epoch 6/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4099 - acc: 0.8299
Epoch 7/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4081 - acc: 0.8326
Epoch 8/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4061 - acc: 0.8350
Epoch 9/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4048 - acc: 0.8357
Epoch 10/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4039 - acc: 0.8352
Epoch 11/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4038 - acc: 0.8349
Epoch 12/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4035 - acc: 0.8346
Epoch 13/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4036 - acc: 0.8344
Epoch 14/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4029 - acc: 0.8349
Epoch 15/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4030 - acc: 0.8340
Epoch 16/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4026 - acc: 0.8354
Epoch 17/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4026 - acc: 0.8350
Epoch 18/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4017 - acc: 0.8366
Epoch 19/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4021 - acc: 0.8359
Epoch 20/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.4021 - acc: 0.8341
Epoch 21/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4011 - acc: 0.8364
Epoch 22/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4020 - acc: 0.8354
Epoch 23/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4021 - acc: 0.8340
Epoch 24/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4009 - acc: 0.8352
Epoch 25/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4004 - acc: 0.8350
Epoch 26/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4008 - acc: 0.8371
Epoch 27/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4009 - acc: 0.8332
Epoch 28/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4000 - acc: 0.8355
Epoch 29/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4004 - acc: 0.8345
Epoch 30/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4002 - acc: 0.8361
Epoch 31/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4005 - acc: 0.8364
Epoch 32/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4002 - acc: 0.8345
Epoch 33/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3998 - acc: 0.8351
Epoch 34/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4002 - acc: 0.8345
Epoch 35/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4005 - acc: 0.8367
Epoch 36/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3999 - acc: 0.8375
Epoch 37/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3997 - acc: 0.8354
Epoch 38/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3999 - acc: 0.8361
Epoch 39/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4000 - acc: 0.8360
Epoch 40/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3995 - acc: 0.8357
Epoch 41/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4000 - acc: 0.8376
Epoch 42/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3998 - acc: 0.8357
Epoch 43/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3997 - acc: 0.8377
Epoch 44/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3991 - acc: 0.8366
Epoch 45/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3996 - acc: 0.8364
Epoch 46/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3996 - acc: 0.8377
Epoch 47/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3992 - acc: 0.8382
Epoch 48/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3989 - acc: 0.8382
Epoch 49/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3993 - acc: 0.8365
Epoch 50/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3989 - acc: 0.8372
Epoch 51/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3991 - acc: 0.8376
Epoch 52/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3993 - acc: 0.8372
Epoch 53/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3994 - acc: 0.8365
Epoch 54/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3996 - acc: 0.8379
Epoch 55/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3988 - acc: 0.8367
Epoch 56/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3990 - acc: 0.8366
Epoch 57/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3985 - acc: 0.8370
Epoch 58/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3992 - acc: 0.8366
Epoch 59/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3995 - acc: 0.8375
Epoch 60/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3984 - acc: 0.8371
Epoch 61/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3994 - acc: 0.8369
Epoch 62/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3987 - acc: 0.8385
Epoch 63/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3991 - acc: 0.8369
Epoch 64/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3988 - acc: 0.8370
Epoch 65/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3982 - acc: 0.8391
Epoch 66/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3988 - acc: 0.8359
Epoch 67/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3990 - acc: 0.8366
Epoch 68/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3985 - acc: 0.8387
Epoch 69/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3983 - acc: 0.8365
Epoch 70/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3988 - acc: 0.8364
Epoch 71/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3986 - acc: 0.8382
Epoch 72/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3984 - acc: 0.8384
Epoch 73/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3990 - acc: 0.8390
Epoch 74/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3979 - acc: 0.8375
Epoch 75/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3983 - acc: 0.8385
Epoch 76/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3980 - acc: 0.8380
Epoch 77/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3986 - acc: 0.8381
Epoch 78/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3977 - acc: 0.8371
Epoch 79/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3985 - acc: 0.8361
Epoch 80/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3985 - acc: 0.8380
Epoch 81/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3986 - acc: 0.8371
Epoch 82/100

8000/8000 [==============================] - 1s 135us/step - loss: 0.3984 - acc: 0.8374
Epoch 83/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3982 - acc: 0.8377
Epoch 84/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3976 - acc: 0.8406
Epoch 85/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3981 - acc: 0.8385
Epoch 86/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3980 - acc: 0.8379
Epoch 87/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3980 - acc: 0.8379
Epoch 88/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3976 - acc: 0.8385
Epoch 89/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3981 - acc: 0.8377
Epoch 90/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3979 - acc: 0.8380
Epoch 91/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3990 - acc: 0.8359
Epoch 92/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3979 - acc: 0.8391
Epoch 93/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3981 - acc: 0.8381
Epoch 94/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3980 - acc: 0.8389
Epoch 95/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3978 - acc: 0.8379
Epoch 96/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3977 - acc: 0.8389
Epoch 97/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3973 - acc: 0.8384
Epoch 98/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3977 - acc: 0.8374
Epoch 99/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3984 - acc: 0.8370
Epoch 100/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3976 - acc: 0.8382

In [96]:
cm

array([[1529,   66],
       [ 253,  152]], dtype=int64)

In [97]:
253 + 66

319

In [98]:
192 + 91

283